<br>

<h1 class="text-center">Lista de productos asincronos</h1>

<div>
    <div style="display:flex; flex-wrap: wrap; justify-content: center; ">
        {{#each products}}
        {{#if status}}
        <div class="card" style="margin: 10px 80px">
            <img src={{thumbnail}} width="200px" alt="img - {{thumbnail}}">
            <div class="card-body">
                <p class="card-title">{{category}} - {{title}}</p>
                <p class="card-text">{{description}}</p>
                <button type="button" class="btn btn-primary">Info</button>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>