<nav class="navbar navbar-expand-sm bg-info">
    <div class="container-fluid">
        <a href="./home">
           <img src="./static/assets/images/logo.jpg" width="80px" alt="logo"
                class="d-inline-block align-text-top me-3 header__img" />
        </a>
    </div>
    <div class="d-flex collapse navbar-collapse"  rel="stylesheet" id="navbarNav">
        <ul class="navbar-nav align-items-center header__lista">
            <li class="nav-item ms-3 header__item">
                <a class="nav-link active" href="./home">Inicio</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="./realTimeProducts">RealTime Carga de productos</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="./form">Cargar nuevo Producto</a>
            </li>
        </ul>
    </div>
</nav>

<br>

<h1 class="text-center">Lista de productos asincronos</h1>

<div>
    <div style="display:flex; flex-wrap: wrap; justify-content: center; ">
        {{#each products}}
        {{#if status}}
        <div class="card" style="margin: 10px 100px">
            <img src={{thumbnail}} width="200px" alt="img - {{thumbnail}}">
            <div class="card-body">
                <p class="card-title">{{category}} - {{title}}</p>
                <p class="card-text">{{description}}</p>
                <button type="button" class="btn btn-primary">Info</button>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>