<h2 class="titulo">Products</h2>
<a href="/form-products">Crear producto</a>
 <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Thumbnails</th>
        <th>Stock</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>{{this.code}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.thumbnails}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.id}}</td>
            </tr>
        {{/each}}
    </tbody>