 <nav class="navbar navbar-expand-sm bg-info">
    <div class="container-fluid">
        <a href="../../realTimeProducts">
         <img src="../static/assets/images/logo.jpg" width="80px" alt="logo"
                class="d-inline-block align-text-top me-3 header__img" />
        </a>
    </div>
    <div class="d-flex collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-center header__lista">
            <li class="nav-item ms-3 header__item">
                <a class="nav-link active" href="#">Products</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="../../productsList">List</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="../../chat">Chat</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="../../cart/64c9d325f54c08f61e2cde00">Cart</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="/api/session/logout">
                    <img src="https://i.ibb.co/j8FWHKq/switch-off.png" alt="shut-down" width="30px">
                </a>
            </li>
            <li class="nav-item ms-3 header__item" style="margin-right: 24px;">
                <a class="nav-link" href="../../profile">
                    <img src="https://i.ibb.co/3WdFcqG/profile.png" alt="profile" width="30px">
                </a>
            </li>
        </ul>
    </div>
</nav>

<br>

<h1 class="text-center">Products for {{user.first_name}} {{user.last_name}}</h1>

<br>

<div style="display: flex; flex-wrap: wrap; justify-content: center;" id="list">
    {{#each products}}
    {{#if status}}
    <div class="card" style="margin: 10px 100px">
        <img src={{thumbnail}} width="200px" alt="img - {{thumbnail}}">
        <div class="card-body">
            <p class="card-title">{{category}} - {{title}}</p>
            <p class="card-text">{{description}}</p>
             <a href="/productsList/detail/{{{this._id}}}" class="btn btn-primary">Detalles</a>
            {{!-- <button type="button" class="btn btn-primary">Info</button> --}}
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>

<br>



<script src="/socket.io/socket.io.js"></script>

{{!-- <script src="/static/js/main.js"></script> --}}