<nav class="navbar navbar-expand-sm bg-info">
    <div class="container-fluid">
        <a href="./home">
            <img src="./static/assets/images/logo.jpg" width="80px" alt="logo"
                class="d-inline-block align-text-top me-3 header__img" />
        </a>
        
    </div>
    <div class="d-flex collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-items-center header__lista">
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="./home">Inicio</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link active" href="./realTimeProducts">RealTime Carga de productos</a>
            </li>
            <li class="nav-item ms-3 header__item">
                <a class="nav-link" href="./form">Cargar nuevo Producto</a>
            </li>
             <li class="nav-item ms-3 header__item">
                <a class="nav-link active" href="./chat">Chat</a>
            </li>
        </ul>
    </div>
</nav>

<br>

<h1 class="text-center">Lista de productos sincrono</h1>

<div style="display: flex; flex-direction: row; justify-content: space-around;">
    <div style="display: flex;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <h3>Carga sincrona</h3>

            <form id="realTimeFormCreate">
                <label class="form-label m-0">Title:</label>
                <input class="form-control" type="text" name="title" id="title" required>
                <label class="form-label m-0">Description:</label>
                <input class="form-control" type="text" name="description" id="description" required>
                <label class="form-label m-0">Price:</label>
                <input class="form-control" type="number" name="price" id="price" required>
                <label class="form-label m-0">Thumbnail:</label>
                <input class="form-control" type="text" name="thumbnail" id="thumbnail">
                <label class="form-label m-0">Code:</label>
                <input class="form-control" type="text" name="code" id="code" required>
                <label class="form-label m-0">Stock:</label>
                <input class="form-control" type="number" name="stock" id="stock" required>
                <label class="form-label m-0">Category:</label>
                <input class="form-control" type="text" name="category" id="category" required>
                <br>
                <button class="btn btn-success" type="submit">Cargar</button>
            </form>
        </div>
    </div>

    <div style="display: flex;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <h3>Eliminación sincrona</h3>

            <form id="realTimeFormDelete">
                <label class="form-label m-0">COLOCAR ID:</label>
                <input class="form-control"  type="text" name="id" id="id" >
                <br>
                <button class="btn btn-danger" type="submit">Eliminar</button>
            </form>
        </div>
    </div>
</div>

<br>

<h2 class="text-center">Productos</h2>

<div style="display: flex; flex-wrap: wrap; justify-content: center;" id="list">
    {{#each products}}
    {{#if status}}
    <div class="card" style="margin: 10px 100px">
        <img src={{thumbnail}} width="200px" alt="img - {{thumbnail}}">
        <div class="card-body">
            <p class="card-title">{{category}} - {{title}}</p>
            <p class="card-text">{{description}}</p>
            <button type="button" class="btn btn-primary">Info</button>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="/static/js/main.js"></script>